button {
	height: 90px;
	width: 290px;
	font-size: 28px;
	color: white;
	border: none;
	background-color: blue;
	transition-property: background-color;
	transition-duration: 1000ms;
	border-radius: 15px;
}

button:hover {
	background-color: green;
}